.popular {
  margin-top: 50px;
}
.popularContainer {
  display: flex;

  margin: 20px 10px;
  overflow: scroll;
  .popularBox {
    margin: 10px;
    text-align: center;
    text-decoration: none;
    img {
      border-radius: 12px;
      cursor: pointer;
      transition: transform 0.2s ease-in-out;
      box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
      &:hover {
        transform: translateY(-5px);
      }
    }
    h4 {
      margin-top: 10px;
    }
  }
}
