.upcomingContainer {
  display: flex;
  .swiper-button-next,
  .swiper-button-prev {
    color: #292929;
  }

  .upcomingList {
    height: 650px;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    background-position: center;
    &::before {
      content: "";
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      background-color: rgba($color: #000000, $alpha: 0.6);
    }
    &::after {
      content: "";
      position: absolute;
      bottom: 0;
      left: 0;
      width: 100%;
      height: 100px;
      background-image: linear-gradient(to top, #0f0f0f, rgba(#000, 0));
    }
    .upcomingInfo {
      width: 100%;
      position: relative;

      .upcomingInside {
        display: flex;
        align-items: center;
        justify-content: center;
        padding-top: 160px;
        .poster {
          height: 350px;
          border-radius: 20px;
          box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
        }
        .upcomingDescription {
          color: white;
          width: 60%;
          margin-left: 40px;
          h1 {
            margin-top: 70px;
            font-weight: 700;
          }
          span {
            display: block;
            margin-top: 20px;
          }
          button {
            margin-top: 20px;
            background: none;
            border-radius: 12px;
            border: 2px solid white;
            color: white;
            padding: 5px 10px;
            cursor: pointer;
            &:hover {
              background-color: white;
              color: black;
            }
          }
        }
      }
    }
  }
}
