.searched_movie {
  margin: 20px;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  padding: 20px;
  gap: 20px;
  text-align: center;
  img {
    height: 300px;
    border-radius: 12px;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
  }
  h4 {
    margin-top: 7px;
  }
}
